    
        @{
            ViewData["Title"] = "About TheReminderFactory";
        }
    
    <h3>@ViewData["Message"]</h3>

    <br />
    <article>
        <h4>
            <p style="color:red">
                <strong>
                    Have you ever realized that you forgot an important event when it was too late
                    to do anything about it? 
                    <br />
                    <br />
                    Like bosses' day.  Or your wedding anniversary. Or that dentist appointment you scheduled months in advance.
                </strong>
            </p>
        </h4>
        <br />
        <p>
            Well, worry no more! <br /><br />With <h4><span style="color:blue"><i>TheReminderFactory &trade;</i></span></h4> you can<h4 style="color:green"> Set it. And never regret it!  &trade;</h4>
            <br />
            Follow these simple steps to get text message* reminders for those events you
            <br />
            want to be sure to remember.
            <br />
            <br />
            1) Click the Register button at the top of this page <br />
            2) Enter your information, including your cell phone number<br />
            3) This will take you to your home page where you can Add, View, Edit or Delete<br />
               your events and the reminders you want to receive
        </p>
        <br />

        <p>
            <h4 style="color:blue">A couple of notes about events and reminders: </h4><br />
            An event can occur Annually, or it can occur Once. <br />
            Examples of events that occur Annually are birthdays and Holidays. <br />
            Examples of events that occur once are appointments with your eye doctor <br />
            and appointments to have your car serviced by the car dealer.

            <br />
            <br />
            <h4 style="color:blue">Scheduling Reminders for Events that occur Once*: </h4><br />
            Simply click on "Add" from your Home Page" <br />
            Give your Event a name and description, <br />
            Enter the date of the event, the date you want to start receiving the reminders<br />
            and the date you want the reminders to stop.<br />
            <br />
            Select "Once" from the drop down box, click "Submit" and you're finished!
            <br /><br />
            You will not receive any reminders after the last reminder date you selected.

            <br />
            <br />
            <h4 style="color:blue">Scheduling Reminders for Events that occur Annually*: </h4><br />
            Simply click on "Add" from your Home Page" <br />
            Give your Event a name and description, <br />
            Enter the date of the event, the date you want to start receiving the reminders<br />
            and the date you want the reminders to stop.<br />
            Select "Annually" from the drop down box, click "Submit" and you're finished!'<br /><br />

            <span style="color:blue">
                These text reminders will be sent every year to your cell phone number
                <br />
                on the days you selected.
            </span>


        </p>
        <p><strong>*Message and Data rates may apply.  Consult your Celluar Carrier for details</strong></p>
    </article>



