
@{
    ViewData["Title"] = "About TheReminderFactory";
}

@*<h3>@ViewData["Message"]</h3>*@


<br />
<center><h4> Welcome to <span style="color:blue"><i> TheReminderFactory &trade;</i></span> The easy to use, premier service for keeping track of your busy schedule!</h4></center>
<br />
<center><h4>Building Events and Reminders in <i style="color:blue">TheReminderFactory &trade;</i></h4></center>
<br />
<div class="mycontainer">
    <div class="mycolumns">
        <p>
            <h4 style="color:blue">Follow these simple steps to get text message* reminders for those events you want to be sure to remember. </h4>
            <br />
            Click the Register button at the top of this page. <br />
            Enter your information, including your cell phone number.<br />
            This will take you to your home page where you can Add, View, Edit or Delete<br />
            your events and the reminders you want to receive.
        </p>
        <br />

        <h4 style="color:blue">A couple of notes about events and reminders: </h4><br />
        An event can occur Annually, or it can occur Once. <br />
        Examples of events that occur Annually are birthdays and Holidays. <br />
        Examples of events that occur once are appointments with your eye doctor <br />
        and appointments to have your car serviced by the car dealer.

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <p>
            <span class="mybr"></span>
            <strong style="color:orangered">*Message and Data rates may apply. Consult your Celluar Carrier for details</strong>
        </p> <!--Message and Data rates may apply. Consult your Celluar Carrier for details-->
    </div>
    <div class="mycolumns"></div>
    <div class="mycolumns">
        <h4 style="color:blue">Scheduling Reminders for Events that occur Once*: </h4><br />
        Simply click on "Add" from your Home Page. <br />
        Give your Event a name and description. <br />
        Enter the date of the event, the date you want to start receiving the reminders<br />
        and the date you want the reminders to stop.<br />
        <br />
        Select "Once" from the drop down box, click "Submit" and you're finished!
        <br /><br />
        You will not receive any reminders after the last reminder date you selected.

        <br />
        <br />

        <h4 style="color:blue">Scheduling Reminders for Events that occur Annually*: </h4><br />
        Simply click on "Add" from your Home Page" <br />
        Give your Event a name and description <br />
        Enter the date of the event, the date you want to start receiving the reminders<br />
        and the date you want the reminders to stop.<br />
        Select "Annually" from the drop down box, click "Submit" and you're finished!'<br /><br />
        <span style="color:blue">
            These text reminders will be sent every year to your cell phone number <br />
            on the days you selected.
        </span>
        <br /><br />
        <a asp-controller="RemindMe" asp-action="UserHomePage" asp-route-id="@ViewBag.ID"><strong style="color:orangered">Return to Home Page</strong></a>


    </div>


</div>

