@model RemindMe.ViewModels.AddTextCredentialsAndFrequenciesViewModel
@{
    ViewData["Title"] = "Add Text Credentials and Event Frequencies";
}

<h2>Add Text Credentials and Event Frequencies</h2>

<form asp-controller="RemindMe" asp-action="AddTextCredentialsAndFrequencies" method="post">
    <div class="form-group">
        <label asp-for="RepeatFrequencyNameOne"></label>
        <input class="form-control" asp-for="RepeatFrequencyNameOne" />
        <span asp-validation-for="RepeatFrequencyNameOne"></span>
    </div>
    <div class="form-group">
        <label asp-for="RepeatFrequencyNameTwo"></label>
        <input class="form-control" asp-for="RepeatFrequencyNameTwo" />
        <span asp-validation-for="RepeatFrequencyNameTwo"></span>
    </div>
    <p style="color:red">If you are adding Text Info You MUST enter data into ALL FOUR of the fields below</p>

    <div class="form-group">
        <label asp-for="TextUserId"></label>
        <input class="form-control" asp-for="TextUserId" />
        <span asp-validation-for="TextUserId"></span>
    </div>
    <div class="form-group">
        <label asp-for="TextToken"></label>
        <input class="form-control" asp-for="TextToken" />
        <span asp-validation-for="TextToken"></span>
    </div>
    <div class="form-group">
        <label asp-for="TextSecret"></label>
        <input class="form-control" asp-for="TextSecret" />
        <span asp-validation-for="TextSecret"></span>
    </div>
    <div class="form-group">
        <label asp-for="TextFrom"></label>
        <input class="form-control" asp-for="TextFrom" />
        <span asp-validation-for="TextFrom"></span>
    </div>

    <input type="submit" value="Submit" />&nbsp;&nbsp;&nbsp;
    <a href="UserHomePage">
        <input type="button" value="Cancel" />
    </a>
</form>