@model RemindMe.ViewModels.EditScheduleEventsAndRemindersViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Events/Reminders @Model.RecurringEventName</h2>

<form asp-controller="RemindMe" asp-action="EditEventsAndReminders" method="post">

    <div class="form-group">
        <label asp-for="RecurringEventName"></label>
        <input class="form-control" asp-for="RecurringEventName" />
        <span asp-validation-for="RecurringEventName"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringEventDescription"></label>
        <input class="form-control" asp-for="RecurringEventDescription" />
        <span asp-validation-for="RecurringEventDescription"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringEventDate"></label>
        <input class="form-control" asp-for="RecurringEventDate" />
        <span asp-validation-for="RecurringEventDate"></span>
    </div>

    <div class="form-group">
        <label asp-for="RepeatFrequencyNameID">How Often Does this Event Occur?</label>
        <br>
        <select asp-for="RepeatFrequencyNameID" asp-items="Model.Frequencies"></select>
    </div>

    <div class="form-group">
        <label asp-for="RecurringReminderStartAlertDate"></label>
        <input class="form-control" asp-for="RecurringReminderStartAlertDate" />
        <span asp-validation-for="RecurringReminderStartAlertDate"></span>
    </div>
    <div class="form-group">
        <label asp-for="RecurringReminderLastAlertDate"></label>
        <input class="form-control" asp-for="RecurringReminderLastAlertDate" />
        <span asp-validation-for="RecurringReminderLastAlertDate"></span>
    </div>
    
    <div class="form-group">
        @*  commented out
            while we restrict the user to only getting texts on the registered
            cell phone number
        <label asp-for="UserCellPhoneNumber"></label>
        <input class="form-control" placeholder="9999999999" asp-for="UserCellPhoneNumber" />*@
        <input class="form-control" type="hidden" value="@Model.UserCellPhoneNumber" asp-for="UserCellPhoneNumber" />
        <span asp-validation-for="UserCellPhoneNumber"></span>
    </div>
    <p style="color:blue">This reminder will be sent to @ViewBag.formattedUserCellPhone</p>
   
    <div class="form-group">
        <input type="hidden" class="form-control" asp-for="recurringReminderId" />
    </div>

    <input type="submit" value="Submit" />

</form>