
@{
    ViewData["Title"] = "TheReminderFactory";

}

@*Log out using google *@
@if (@ViewBag.userloggedout == true)
{

    @*<a href="https://accounts.google.com/Logout?&continue=http://www.google.com/">Log Out of Google</a> *@
    <a href="https://accounts.google.com/Logout?&continue=http://www.google.com">Log Out of Google</a>
    @*https://appengine.google.com/_ah/logout?continue=http://www.YOURSITE.com

                    <a href="https://appengine.google.com/_ah/logout?continue=http://localhost:50000/RemindMe/Index">LogOut of Google</a>
                <script>
                    var revokeAllScopes = function ()
                        {
                                auth2.disconnect();
                        }
                </script>
            <script type="text/javascript"
        src="https://mail.google.com/mail/u/0/?logout&hl=en" />
    *@
}
<br/>
<h4 style="color:green">
    @*<strong>
        Have you ever realized that you forgot an important event when it was too late
        to do anything about it?*@
    <strong>
        Have you ever wished you <span style="color:blue">remembered</span> an important event <span style="color:blue">before</span> it was too late
        to do anything about it?

        <br />
        <br />
        Like bosses' day.  Or your wedding anniversary!!   Or that dentist appointment you scheduled months in advance.
    </strong>
</h4>
<br/>
<p><h4><strong>Well, worry no more! With <span style="color:blue"><i>TheReminderFactory &trade;</i></span> you can<span style="color:green"> Set it. And Never Regret it!  &trade;</span></strong></h4></p>

<div class="mycontainer">
    <div class="mycolumns">

        <br />
        <p>How it works:</p>
        <ul>
            <li> Register to begin using the service</li>
            <li> This will take you to your home page</li>
            <li> On your home page, you can schedule and view your events and reminders</li>
            <li> You can schedule how soon and how often you want to receive a reminder when you add an event*</li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">Click here for detailed instructions</a></li>
        </ul>
        <br />
        <br />
        <br />
        <h2 style="text-align: center"><b>It's as simple as that!!</b></h2>

        <br />

        <br />



        <p><a asp-controller="RemindMe" asp-action="RegisterUser">Register</a> or <a asp-controller="RemindMe" asp-action="UserLogIn">LogIn</a> to get started</p>
        <p><strong>*Message and Data rates may apply.  Consult your Celluar Carrier for details</strong></p>
    </div>
    @*<div class="mycolumns">
        <img src=https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/2ebd0c66-4189-4f75-bc3d-0d9dc9e87ec2/Image/4f32c01353f9bc7d47f2e8b4e8ecaf7f/sms.jpg />
    </div>*@
</div>


