
@{
    ViewData["Title"] = "TheReminderFactory";

}

@*Log out using google *@
@if (@ViewBag.userloggedout == true)
{

   <a href="https://accounts.google.com/Logout?&continue=http://www.google.com/">Log Out of Google</a>
    
    @*https://appengine.google.com/_ah/logout?continue=http://www.YOURSITE.com

                <a href="https://appengine.google.com/_ah/logout?continue=http://localhost:50000/RemindMe/Index">LogOut of Google</a>
            <script>
                var revokeAllScopes = function ()
                    {
                            auth2.disconnect();
                    }
            </script>
        <script type="text/javascript" 
    src="https://mail.google.com/mail/u/0/?logout&hl=en" />
    *@
}
    @**@
    <h4> Welcome to <span style="color:blue"><i> TheReminderFactory & trade;</i></span> The easy to use, premier service for keeping track of your busy schedule!</h4>
    <br />
    <p>How it works:</p>
    <ul>
        <li> Register to begin using the service</li>
        <li> This will take you to your home page</li>
        <li> On your home page, you can schedule and view your events and reminders</li>
        <li> You can schedule how soon and how often you want to receive a reminder when you add an event</li>

    </ul>
    <br />
    <br />
    <br />
    <h2 style="text-align: center"><b>It's as simple as that!!</b></h2>

    <br />

    <br />



    <p><a asp-controller="RemindMe" asp-action="RegisterUser">Register</a> or <a asp-controller="RemindMe" asp-action="UserLogIn">LogIn</a> to get started</p>
    <p><strong>*Message and Data rates may apply.  Consult your Celluar Carrier for details</strong></p>

