@model RemindMe.ViewModels.UserLoginViewModel

@{
    ViewData["Title"] = "Login";
}
@* Google LogIn*@
@*
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="141323168073-m2lquof2ha00f36fq3e9ka7tq9vp7f5n.apps.googleusercontent.com">

*@
<h2>Login</h2>
<p style="color:red;font-weight: bold;"> @ViewBag.userNameNotFound</p>
<p style="color:red;font-weight: bold;"> @ViewBag.userPasswordNotCorrect</p>
<form asp-controller="RemindMe" asp-action="UserLogin" method="post">

    <div class="form-group">
        <label asp-for="Username"></label>
        <br/>
        <input class="col-xs-4" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <br/>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <br/>
        <input class="col-xs-4" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br/>
    </div>
    @*remove requirement to verify password when user logs in
        <div class="form-group">
            <label asp-for="VerifyPassword"></label>
            <input class="form-control" asp-for="VerifyPassword" />
            <span asp-validation-for="VerifyPassword"></span>
        </div>
    *@
    <div class="form-group">
        @*<label type="hidden"  asp-for="UserId"></label> No label needed since the user doesn't input these values - the app calculates and populates them   *@
        <input type="hidden" class="form-control" asp-for="ID" value="@Model.ID" />
    </div>
    <br />
    <input type="submit" value="Log In" />
    <br />
    <br />
    <br />
    @*
        <p style="font-weight: bold;">Sign in with Social Media</p>
        <br />
    *@
    @* Google LogIn*@
    @*
        <div class="g-signin2" data-onsuccess="onSignIn">
        </div>

            <script type="text/javascript">
                function onSignIn(googleUser) {
                    // Useful data for your client-side scripts:
                    var profile = googleUser.getBasicProfile();
                    console.log("ID: " + profile.getId()); // Don't send this directly to your server!
                    console.log('Full Name: ' + profile.getName());
                    console.log('Given Name: ' + profile.getGivenName());
                    console.log('Family Name: ' + profile.getFamilyName());
                    console.log("Image URL: " + profile.getImageUrl());
                    console.log("Email: " + profile.getEmail());


                    // The ID token you need to pass to your backend:
                    var id_token = googleUser.getAuthResponse().id_token;
                    console.log("ID Token: " + id_token);

                    // The user's google email ID
                    var googleId = profile.getEmail();
                    console.log("Google Email: " + googleId);

                    //write the email ID to a blank web page
                    // document.write("Email: " + profile.getEmail());


                    //$.post("RemindMeController/UserloginWithGoogleId", { googleId: googleId });

                    $.ajax({
                        'url': '/RemindMe/UserloginWithGoogleId',
                        'type': 'POST',
                        'data': { 'googleId': googleId },
                        'success': function () { console.log("Success"); }//, up to you
                        //'error': function () // up to you
                    })

                    console.log("Google Email: " + googleId);

                };
            </script>
    *@
</form>
